.NavMenu {
  list-style: none;
  display: flex;
}

.NavMenu li a {
  text-decoration: none;
  color: #af4448;
  padding: 1em;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: black;
  }

  &:active {
    color: #ffa4a2;
  }
}
.Logo {
  color: #012443;
  font-size: 1.8em;
  text-transform: capitalize;
  font-weight: 300;
}

.Navbar {
  height: 5em;
  width: 100vw;
  background-color: #fff;
  box-shadow: 2px 0 15px -8px black;
}

.NavContainer {
  height: 5em;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.HamburgerMenu {
  display: none;
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .NavMenu {
    display: none;
  }
  .HamburgerMenu {
    display: block;
  }
}
