.NavMenu {
  list-style: none;
  display: flex;
}

.NavMenu li a {
  text-decoration: none;
  color: #da7f8f;
  padding: 1em;
}
.Logo {
  color: #012443;
}

.Navbar {
  height: 5em;
  width: 100vw;
  background-color: #faf3f3;
}

.NavContainer {
  height: 5em;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.HamburgerMenu {
  display: none;
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .NavMenu {
    display: none;
  }
  .HamburgerMenu {
    display: block;
  }
}
