.heroSection {
  height: 90vh;
  width: 100vw;
  overflow-x: hidden;
}

.heroSectionContainer {
  background-color: #ffe6e6;
  height: 40em;
  width: 80vw;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.HeroHeading {
  color: #012443;
  display: inline-block;
  margin: 0 2em;
}

.ProductContainer {
  height: 28em;
  width: 70vw;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    display: none;
  }
}

.productCard {
  min-height: 20em;
  min-width: 15em;
  margin: 1em;
  background-color: #fff;
  box-shadow: 0px 2px 20px -10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard div {
  height: 30px;
  background-color: #333;
  width: 30px;
}

.productCard img {
  height: 12em;
  width: 12em;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -1em;
}
.productCard h1 {
  font-size: 1em;
  margin: 1em 0;
  color: #004ba0;
  font-weight: 500;
}

.productCard button {
  margin: 1em 0;
  padding: 0.5em 1.3em;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  border: none;
  background-color: #ffe6e6;

  &:hover {
    background-color: darken($color: #ffe6e6, $amount: 5);
  }
  &:active {
    background-color: darken($color: #ffe6e6, $amount: 2);
  }
}

.productCard h2 {
  font-size: 0.8em;
  font-weight: 400;
  margin: 0.5em 0;
}

.categoryFilter {
  width: 10em;
  outline: none;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0 2em;
}

.upperHeroSection {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .HeroHeading {
    text-align: center;
    margin: 1em 0;
  }
  .upperHeroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
